<div class="big-box">
<ul class="artist-info">
  {{#each artists}}
    <li class="artist-box"><img class="artist-image" src="{{images.0.url}}" alt="{{name}}" />
      {{!-- <h2>{{name}}</h2>
      <button class="view-albums-button">
          <a class="view-albums-link" href="/albums/{{id}}">View Albums</a>
      </button> --}}
    </li>
    <container class="button-artist-page">
      <li><h3>{{name}}</h3></li>
      <li>
        <button class="view-albums-button">
          <a class="view-albums-link" href="/albums/{{id}}">View Albums</a>
        </button>
      </li>
    </container>
    <br>
  {{/each}}
</ul>
</div>

